<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="estilo.css"> -->
    <link href="https://cdn.www.gov.co/assets/css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="cabecera">
            <nav>
                <ul>
                    <li><a href="#"> INICIO                </a></li>
                    <li><a href="#"> TRAMITES Y SERVICIOS  </a></li>
                    <li><a href="#"> TU OPINION CUENTA     </a></li>
                    <li><a href="#"> ENTIDADES             </a></li>
                    <li><a href="#"> PORTAL TERRITORIAL    </a></li>
                    <li><a href="#"> SOBRE NOSOTROS        </a></li>
                </ul>
            </nav>
            
            <div id="titulo1">
                <h1>
                    Consulta de trámites por   <br>
                    actividades económica - CIIU
                </h1>
            </div>

            <div id="titulo2">
                <p>Esta consulta le permite identificar los trámites asociados a la actividad económica CIIU de su empresa o emprendimiento</p>
            </div>
        </div>
    </header>
